


.btnRestau{
    width: 13.65rem;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.94rem auto;
    border: none;
    border-radius: 1.67rem;
    color: $white;
    @include background-gradient;
    &--commande{
        width: 11.63rem;
        height: 3.25rem;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.8rem auto;
        border: none;
        border-radius: 1.67rem;
        color: $white;
        @include background-gradient;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0.3rem 0.5rem lighten($footer-color, 45);
        }
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0 0.3rem 0.5rem lighten($footer-color, 45);
    }
}

.btn2{
    width: 20.125rem;
    height: 4.625rem;
    border-radius: 1.5rem;
    background-color: $grey-light;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    & .description{
        width: 18.125rem;
        display: grid;
        grid-template-columns: 20% 80%;
    }
    &:hover{
        cursor: pointer;
        background-color: lighten($primary, 35);
        box-shadow: 0 0.3rem 0.5rem lighten($footer-color, 45);
        i{
        color: $primary;
        }
    }
    & .index{
        font-size: 0.90rem;
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 0.78rem;
        background-color: $primary;
        color: $white;
        position: relative;
        z-index: 1;
        left: -0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & i{
        color: #7D7D7D;
        font-size: 1.25rem;
        margin-left: 0.94rem;
    } 
}


.fa-heart{
    font-size: 1.94rem;
    background-clip: text;
    background: -webkit-gradient(linear, left bottom, right top, from($secondary), to($primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

