


.btnRestau{
    width: 13.65rem;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.94rem auto;
    border: none;
    border-radius: 1.67rem;
    color: $white;
    @include background-gradient;
    &--commande{
        width: 11.63rem;
        height: 3.25rem;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.8rem auto;
        border: none;
        border-radius: 1.67rem;
        color: $white;
        @include background-gradient;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0.3rem 0.5rem lighten($footer-color, 45);
            opacity: 0.9;
        }
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0 0.3rem 0.5rem lighten($footer-color, 45);
        opacity: 0.9;
    }
}

.btn2{
    width: 20.125rem;
    height: 4.625rem;
    border-radius: 1.5rem;
    background-color: $grey-light;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    @include desktop{
        width: 17rem;
    }
    & .description{
        width: 18.125rem;
        display: grid;
        grid-template-columns: 20% 80%;
    }
    &:hover{
        cursor: pointer;
        background-color: lighten($primary, 35);
        box-shadow: 0 0.3rem 0.5rem lighten($footer-color, 45);
        i{
        color: $primary;
        }
    }
    & .index{
        font-size: 0.90rem;
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 0.78rem;
        background-color: $primary;
        color: $white;
        position: relative;
        z-index: 1;
        left: -0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & i{
        color: #7D7D7D;
        font-size: 1.25rem;
        margin-left: 0.94rem;
    } 
}

@include desktop{
    nav h4{
        grid-column: 2;
        grid-row: 1;
        text-align: center;
    }
    .first{
        grid-column: 1;
        grid-row: 2;
    }
    .second{
        grid-column: 2;
        grid-row: 2;
    }
    .third{
        grid-column: 3;
        grid-row: 2;
    }
}


.favoris{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & .far, .fas{
        position: absolute;
    }
    & .far{
        z-index: 0;
        font-size: 1.5rem;
        opacity: 1;
    }
    & .fas{
        font-size: 1.6rem;
        z-index: 1;
        opacity: 0;
        background-clip: text;
        background: -webkit-gradient(linear, left bottom, right top, from($secondary), to($primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: heartOut 200ms forwards;
        &:active{
            cursor: pointer;
            animation: heartIn 400ms forwards;
        }  
    }
}



