*{
    font-family: 'Roboto', sans-serif;
}

title{
    font-family: 'shrikhand';
}


h1{
    font-family: 'shrikhand', cursive;
    text-align: center;
    font-weight: 400;
    font-size: 1.81rem;
    @include verysmall{
        font-size: 1.5rem;
    }
}

h2{
    text-align: center;
    font-weight: 500;
    font-size: 1.45rem;
}

h3{
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
}