

.btnGps{
    color: $footer-color;
    width: 100%;
    height: 2.94rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: $grey;
    & i{
        margin-right: 0.94rem;
    }
}

.presentation{
    background-color: $grey-light;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: 2rem;
    width: 70%; 
}

h3{
    margin-top: 0.94rem;
}

h4{
    font-size: 1.45rem;
    font-weight: 600;
}

nav{
    height: 20rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    & h4{
        width: 21rem;
        margin: 0 auto;
    }
}

.selection{
    background-color: $grey-light;
}