footer{
    background-color: $footer-color;
    height: 12.31rem;
    & a{
        color: $white;
    }
    & .liens{
        width: 19.74rem;
        margin: 0 auto;
        padding-top: 1.5rem;
        @include tablette{
            width: 90%;
        }
        & h1{
            text-align: left;
            font-size: 1.13rem;
        }
    }
    & nav{
        width: 19.74rem;
        height: 6.33rem;
        margin: 1rem auto;
        align-items: flex-start;
        @include tablette{
            width: 90%;
            margin: 1rem 0;
        }
        & li{
            margin-bottom: 0.4rem;
            font-size: 1rem;
            font-weight: 400;
            &:hover{
                text-decoration: underline;
            }
        }


        & i{
            font-size: 0.7rem;
            margin-right: 0.5rem;
        }
    }
    
}

.liens-icons{
    width: 20.63rem;
    display: grid;
    grid-template-columns: 7% 93%;
    align-items: center;
}
